<div class="body">
  <div class="top">
    <div class="left">
        <div class="heading">Team members</div>
        <div class="count">{{users.length + ' users'}}</div>
    </div>
    <div class="right">
        <img src="https://static.thenounproject.com/png/4572884-200.png">
    </div>
  </div>
  <div class="bottom">
    <table class="content">
      <thead class="header">
        <tr>

            <th class="tile checkbox">
                <input type="checkbox" (click)="toggleGroup()" [checked]="groupCheck">
                
            </th>
            <th class="tile profile">Name</th>
        <th class="tile status">Status</th>
        <th class="tile role">Role</th>
        <th class="tile email">Email address</th>
        <th class="tile teams">Teams</th>
        <th class="tile options"></th>
    </tr>
    </thead>
    <tbody>
        
        <ng-container *ngFor="let user of users;let i = index">
            <tr class="user" *ngIf="i/10<currentSlide && i/10>(currentSlide-1)">
                <td class="tile checkbox">
                    <input type="checkbox" [checked]="user.checked" (click)="toggleSingle(i)">
                </td>
            <td class="tile">
                <div class="profile">

                    <div class="logo">
                        {{user.name.split('')[0]}}
                    </div>
                    <div class="details">
                        <div class="firstname">
                            {{user.name}}
                        </div>
                        <div class="lastname">
                            {{user.userId}}
                        </div>
                    </div>
                </div>
                
            </td>
            <td class="tile">
                <div class="status" [ngClass]="user.status === 'Customer' ? 'activeStatus' : 'inactive'">
                    {{user.status}}
                </div>
            </td>
            <td class="tile role">{{user.role}}</td>
            <td class="tile">
                <div class="email">

                    <div class="outer">
                        <div class="inner" [ngStyle]="{width:user.email + 'px'}"></div>
                    </div>
                    <span>{{user.email + '%'}}</span>
                </div>
            </td>
            <td class="tile">
                <div class="teams">

                    <div class="teamnames" *ngFor="let team of user.teams">
                        {{team}}
                    </div>
                </div>
            </td>
            <td class="tile">
                <div class="icons">
                    <img [src]="icons[j]" alt="" *ngFor="let icon of user.options;let j = index;">
                </div>
            </td>
        </tr>
    </ng-container>
</tbody>
</table>
<div class="footer">
    <div class="left">
        <button [disabled]="currentSlide<2" (click)="changeSlide('previous')">
            <img src="https://cdn-icons-png.flaticon.com/512/109/109618.png">
           <span> Previous</span>
        </button>
    </div>
    <div class="center">1,2,3,4,5</div>
    <div class="right">
        <button [disabled]="currentSlide>9" (click)="changeSlide('next')">
            <span> Next</span>
            <img src="https://cdn-icons-png.flaticon.com/512/109/109617.png">
        </button>
    </div>
</div>
  </div>
</div>
