@import '../../vars';
.body{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    box-sizing: border-box;
    // overflow: hidden;
}
.sidebar{
    max-width: 100px;
    width: 5%;
    height: 100vh;
}
.right{
    max-width: 100%;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 15px;
    overflow-y: auto;
    .top{
        width: 100%;
        min-height: 400px;
        height: 100%;
        font-family: 'Roboto';
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: space-between;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .leftHeading{
                font-size: 32px;
                font-weight: 600;
            }
            .rightButtons{
                display: flex;
                justify-content: space-around;
                align-items: center;
                column-gap: 20px;
                padding-right: 20px;
                img{
                    height: 20px;
                    width: 20px;
                }
                img:hover{
                    cursor: pointer;
                }
                button{
                    padding: 10px;
                    padding-inline: 20px;
                    border-radius: 10px;
                    border: 1px solid $lightGray;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    background-color: transparent;
                    column-gap: 5px;
                }
                button:hover{
                    cursor: pointer;
                }
            }
        }
        .content{
            display: flex;
            justify-content: space-between;
            column-gap: 20px;
            max-width: 100%;
            width: 100%;
            max-height: 100%;
            height: 100%;
            .barChart, .donutChart{
                border: 1px solid $lightGray;
                border-radius: 10px;
            }
            .barChart{
                max-width: 100%;
                width: 65%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .barCenter{
                    height: 60%;
                }
                .barBottom,.barTop{
                    // height: 15%;
                    display: flex;
                    width: 100%;
                    padding: 10px;
                    padding-inline: 20px;
                    justify-content: space-between;
                    align-items: center;
                    box-sizing: border-box;
                    .barLeft{
                        display: flex;
                        align-items: center;
                        column-gap: 10px;
                        .heading{
                            font-size: 24px;
                            font-weight: 600;
                        }
                        .logo{
                            width: 50px;
                            height: 50px;
                            img{
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }
                    .barRight{
                        img{
                            cursor: pointer;
                            height: 20px;
                            width: 20px;
                        }
                    }
                    .barButton{
                        display: flex;
                        justify-content: flex-end;
                        width: 100%;
                        button{
                            padding: 10px;
                            padding-inline: 20px;
                            border-radius: 10px;
                            border: 1px solid $lightGray;
                            background-color: transparent;
                            cursor: pointer;
                        }
                    }
                }
            }
            .donutChart{
                display: flex;
                max-width: 100%;
                width: 35%;
                height: 100%;
                flex-direction: column;
                justify-content: space-between;
                .donutTop,.donutBottom{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    padding: 10px;
                    padding-inline: 20px;
                    box-sizing: border-box;
                    .donutLeft{
                        display: flex;
                        flex-direction: column;
                        row-gap: 5px;
                        .heading{
                            font-size: 18px;
                            font-weight: 500;
                        }
                        .para{
                            font-size: 13px;
                            color: $darkGray;
                        }
                    }
                    .donutRight{
                        img{
                            height: 20px;
                            width: 20px;
                            cursor: pointer;
                        }
                    }
                    .topText{
                        display: flex;
                        flex-direction: column;
                        row-gap: 5px;
                        .heading{
                            font-size: 18px;
                        }
                        .text{
                            font-size: 13px;
                            color: $darkGray;
                        }
                    }
                    .bottomButton{
                        display: flex;
                        width: 100%;
                        justify-content: flex-end;
                        button{
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            column-gap: 10px;
                            padding: 10px;
                            padding-inline: 20px;
                            border-radius: 10px;
                            border: 1px solid $lightGray;
                            cursor: pointer;
                            .logo{
                                img{
                                    width: 20px;
                                    height: 20px;
                                }
                            }

                        }
                    }
                }
                .donutBottom{
                    flex-direction: column;
                }
                .chart{
                    width: 100%;
                    display: flex;
                    .leftCenter{
                        width: 70%;
                    }
                    .rightCenter{
                        display: flex;
                        justify-content: center;
                        width: 30%;
                        color: $lightGreen;
                        img{
                            height: 30px;
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
    .workflow{
        width: 100%;
        border: 1px solid $lightGray;
        border-radius: 10px;
    }
}