<div class="body">
        <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="right">
            <div class="top">
                <div class="header">
                    <div class="leftHeading">Welcome back, Olivia</div>
                    <div class="rightButtons">
                        <div class="search">
                            <img src="https://icons-for-free.com/iconfiles/png/512/customize+levels+settings+icon-1320085880730884001.png">
                        </div>
                        <button class="topbutton">
                            <img src="https://icons-for-free.com/iconfiles/png/512/customize+levels+settings+icon-1320085880730884001.png">
                            <span>
                                Customize
                            </span>
                        </button>
                        <button class="topbutton">
                            <img src="https://cdn.icon-icons.com/icons2/2348/PNG/512/export_icon_143019.png">
                            <span>
                                Export
                            </span>
                        </button>
                    </div>
                </div>
                <div class="content">
                    <div class="barChart">
                        <div class="barTop"></div>
                        <div class="barCenter">
                            <app-bar-chart></app-bar-chart>
                        </div>
                        <div class="barBottom"></div>
                    </div>
                    <div class="donutChart">
                        <app-donut-chart></app-donut-chart>
                    </div>
                </div>
            </div>
            <div class="workflow">
<app-workflow></app-workflow>
            </div>
        </div>
</div>