.body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-block: 30px;
  box-sizing: border-box;
}
.navItems{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 25px;
  .item:hover{
    cursor: pointer;
    transform: scale(1.5);
    transition: 0.4s ease-in-out;
  }
  img{
    height: 30px;
    width: 30px;
  }
}