$lightPurple:rgb(229, 218, 235);
$lightAqua:rgb(218, 232, 235);
$lightBlue:rgb(182, 197, 229);
$lightGray:rgb(227, 229, 233);
$lightGreen:rgb(208, 230, 213);

$darkPurple:rgb(96, 29, 151);
$darkAqua:rgb(139, 192, 216);
$darkBlue:rgb(33, 59, 131);
$darkGray:rgb(32, 32, 32);
$darkGreen:rgb(41, 90, 31);


$whiteColor:rgb(255,255,255);
$blackColor:rgb(0,0,0);

